<!-- Navigation Bar Component -->
<div class="navbar-container">
  <!-- Main Navigation -->
  <nav class="navbar">
    <!-- Test Data Navigation Item -->
    <a href="../testDataManager/testDataManager.html" class="nav-item" title="Test Data Manager">
      <img src="/src/assets/icons/data-icon.png" alt="Test Data Manager Icon">
    </a>
    <!-- JSON Schema Generator Navigation Item -->
    <a href="../jsonSchemaGenerator/jsonSchemaGenerator.html" class="nav-item" title="JSON Schema Generator">
      <i class="fas fa-code"></i>
    </a>
  </nav>
</div>  
